@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
}

.container {
    width: 1140px;
    margin: auto;
}

.logo {
    width: 165px;
    line-height: 51px;
    text-transform: uppercase;
    background: url("img/logo.png") no-repeat;
    background-blend-mode: overlay;
    font-size: 27px;
    padding-left: 72px;
}

.logo span{
    color: #f16d7f;
    font-weight: 700;
}

.search {
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;
    font-size: 14px;
}

.search__browse {
    padding: 14px;
    background-color: #f9f9f9;
    line-height: 38px;
    border: none;
    color: #7c7c7c;
    outline: none;
}

.search__browse i {
    color: 838383;
}

.fas {
}
.fa-caret-down {
}
.fa-search {
}

.header__cart {
    margin-left: auto;
    margin-right: 26px;
}

.header__account-bar {
    width: 130px;
    line-height: 38px;
    border: none;
    outline: none;
    background-color: #f16d7f;
    padding-left: 19px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.headerLine {
    border-bottom: 1px solid #ececec;
}

.topNav {
    height: 51px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topNav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
}

.topNav a:not(:last-child) {
    margin-right: 46px;
}

.topBanner {
}